configuration {
    modi: "drun";
    font: "Tahoma 11";
    show-icons: true;
    icon-theme: "WinXP";
    display-drun: "Soda"; 
    location: 7;
    anchor: south west;
    xoffset: 5;
    yoffset: -45;
}

* {
    xp-blue:          #245EDB;
    xp-right-pane:    #D3E5FA; 
    xp-white:         #FFFFFF;
    xp-orange:        #F68F32;
    xp-border-blue:   #003399;
    xp-sel-blue:      #316AC5;
    background-color: transparent;
    text-color:       #000000;
}

window {
    background-color: @xp-white;
    border:           2px;
    border-color:     @xp-border-blue;
    border-radius:    5px 5px 0px 0px;
    width:            420px;
    children:         [ "inputbar", "listview", "mode-switcher" ];
}

inputbar {
    background-color: @xp-blue;
    padding:          12px 16px; 
    border:           0px 0px 2px 0px;
    border-color:     @xp-orange;
    /* We tell the inputbar to render our custom icon-pfp element here */
    children:         [ "icon-pfp", "prompt" ];
}

icon-pfp {
    expand:           false;
    /* Use the absolute path to your square 64x64 image */
    filename:         "/home/soda/.config/rofi/images/pfp.png";
    
    /* size is the image, width/height is the container with the border */
    size:             64px;
    width:            70px;
    height:           70px;

    border:           3px;
    border-color:     #FFFFFF;
    border-radius:    4px;
    
    margin:           0px 15px 0px 0px;
    vertical-align:   0.5;
    horizontal-align: 0.5;
}

prompt {
    text-color:       #FFFFFF;
    font:             "Tahoma Bold 16";
    /* Centers the text vertically against the 64px image */
    vertical-align:   0.5;
}

listview {
    background-color: @xp-right-pane;
    padding:          0px;
    columns:          1;
    lines:            10;
    fixed-height:     true;
}

element {
    background-color: @xp-white;
    padding:          6px;
    margin:           0px 140px 0px 0px; 
    border:           0px 1px 0px 0px;
    border-color:     #919B9C;
}

element selected {
    background-color: @xp-sel-blue;
    text-color:       #FFFFFF;
}

element-icon {
    size: 32px;
    padding: 0px 8px 0px 0px;
}

mode-switcher {
    background-color: @xp-blue;
    padding: 4px;
}
